<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-OUT</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1> Hi, <%= name %> </h1>
    <form action="/logout" method="get">
        <button type="submit">Log-OUT</button>
    </form>
</body>
</html>